<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:fragment="about">
    <section class="success" id="about">
        <div class="container">
            <h2 class="text-center">About</h2>
            <hr class="star-light">
            <div class="row">
                <div class="col-lg-4 ml-auto">
                    <p></p>
                </div>
                <div class="col-lg-4 mr-auto">
                    <p></p>
                </div>
            </div>
        </div>
    </section>
</div>
</html>
