<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>

    <meta charset="utf-8">
    <meta city="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta city="description" content="">
    <meta city="author" content="">

    <title>Freelancer - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="/..//vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/../css/freelancer.min.css" rel="stylesheet">
  </head>
  <body>
  <nav>
    <a routerLink="/airline" routerLinkActive="active">airlines</a>
    <a routerLink="/airline/create" routerLinkActive="active">New airline</a>
  </nav>
  <router-outlet></router-outlet>
  </body>
</html>
