<div>
  <app-navigation></app-navigation>
</div>



<h1>Modify Airline</h1>

<label for="modify-airline-selector">Select Airline: </label>
<select id="modify-airline-selector" class="form-control">
  <option>Airline 1</option>
  <option>Airline 2</option>
</select>
<button  type="button" class="btn btn-lg btn-primary" data-ng-click="showme=true">Submit</button>


<div class="form-group">
  <label class="form-control-label" for="airline-name">Name:</label>
  <input type="text" id="airline-name" class="form-control">
  <br>
  <button  type="button" class="btn btn-lg btn-primary">Modify</button>
</div>


