<div class="animate">
  <div class="col-md-20 col-lg-10">
    <div class="card">
      <div class="card-header card-primary card-inverse">
        <span class="card-title">Modify User</span>
      </div>
      <div *ngIf="errors" class="alert alert-danger">
        {{ errors }}
      </div>
      <div *ngIf="message" class="alert alert-success">
        {{ message }}
      </div>
      <div class="form-group">
        <label class="form-control-label" for="modify-user-selector">Select user:</label>
        <select class="form-control" id="modify-user-selector" #k (change)="updateUserModifyFields(k.value)" [(ngModel)]="selectedUserId">
          <option *ngFor="let currentUser of users" [ngValue]="currentUser.id">{{currentUser.ssoId}}</option>
        </select>

        <label class="col-md-3 control-lable" for="firstName">First Name</label>
        <input  type="text" id="firstName" class="form-control input-sm" [(ngModel)]="firstname" required/>
        <div *ngIf="!firstname" style="color: red">Required</div>

        <label class="col-md-3 control-lable" for="lastName">Last Name</label>
        <input type="text"  id="lastName" class="form-control input-sm" [(ngModel)]="lastname" required/>
        <div *ngIf="!lastname" style="color: red">Required</div>

        <label class="col-md-3 control-lable" for="ssoId">SSO ID</label>
        <input type="text"  id="ssoId" class="form-control input-sm" [(ngModel)]="ssoId" required/>
        <div *ngIf="!ssoId" style="color: red">Required</div>

        <label class="col-md-3 control-lable" for="password">Password</label>
        <input type="password"  id="password" class="form-control input-sm" [(ngModel)]="password" required/>
        <div *ngIf="!password" style="color: red">Required</div>

        <label class="col-md-3 control-lable" for="email">Email</label>
        <input type="text" id="email" class="form-control input-sm" [(ngModel)]="email" required/>
        <div *ngIf="!email" style="color: red">Required</div>

        <label class="col-md-3 control-lable" for="age">Age</label>
        <input type="number" id="age" class="form-control input-sm" [(ngModel)]="age" required/>
        <div *ngIf="!age" style="color: red">Required</div>

        <label class="col-md-3 control-lable" for="address">Address</label>
        <input type="text"  id="address" class="form-control input-sm" [(ngModel)]="address" required/>
        <div *ngIf="!address" style="color: red">Required</div>

        <label class="col-md-3 control-lable" for="accountNumber">Account Number</label>
        <input type="text" id="accountNumber" class="form-control input-sm" [(ngModel)]="accountNumber" required/>
        <div *ngIf="!accountNumber" style="color: red">Required</div>

        <label class="col-md-3 control-lable" for="balance">Balance</label>
        <input type="text"  id="balance" class="form-control input-sm" [(ngModel)]="balance" required/>
        <div *ngIf="!balance" style="color: red">Required</div>

        <label class="col-md-3 control-lable" for="dateOfBirth">Date of Birth</label>
        <input type="date"  id="dateOfBirth" class="form-control input-sm" [(ngModel)]="dateOfBirth" required/>
        <div *ngIf="!dateOfBirth" style="color: red">Required</div>


        <label class="col-md-3 control-lable" for="userProfiles">Roles</label>
        <select class="form-control" id="userProfiles" #l (change)="updateRole(l.value)" [(ngModel)]="role">
          <option *ngFor="let role of roles" [ngValue]="role.type">{{role.type}}</option>
        </select>
        <div *ngIf="!role" style="color: red">Required</div>
        <br>
        <button type="button" value="Create" (click)="updateUser()" class="btn btn-lg btn-primary">Update</button>
      </div>

    </div>

  </div>
</div>

