<div class="animate">
  <div class="col-md-20 col-lg-10">
    <div class="card">
      <div class="card-header card-primary card-inverse">
        <span class="card-title">Delete User</span>
      </div>
      <div class="form-group">
        <label class="form-control-label" for="delete-user-selector">Select user:</label>
        <select class="form-control" id="delete-user-selector" #l (change)="updateSelectedUser(l.value)" [(ngModel)]="users">
          <option *ngFor="let user of users" [ngValue]="user.id">{{user.ssoId}}</option>
        </select>
        <button type="button" value="Create" class="btn btn-lg btn-primary" (click)="deleteUser()">Delete</button>
      </div>
    </div>
  </div>
</div>

