<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Airlines-Lister</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reservation<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Create Reservation</a></li>
          <li><a href="#">Delete Reservation</a></li>
          <li><a href="#">View Reservation</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Personal<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Modify Personal Data</a></li>
          <li><a href="#">View Personal Data</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Airline<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a [routerLink]="['/home/create-airline']">Create Airline</a></li>
          <li><a [routerLink]="['/home/modify-airline']">Modify Airline</a></li>
          <li><a [routerLink]="['/home/delete-airline']">Delete Airline</a></li>
          <li><a [routerLink]="['/home/view-airline']">View Airline</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Flight<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Create Flight</a></li>
          <li><a href="#">Modify Flight</a></li>
          <li><a href="#">Delete Flight</a></li>
          <li><a href="#">View Flight</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Location<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Create Location</a></li>
          <li><a href="#">Modify Location</a></li>
          <li><a href="#">Delete Location</a></li>
          <li><a href="#">View Location</a></li>
        </ul>
      </li>
      <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">User<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#">Create User</a></li>
        <li><a href="#">Modify User</a></li>
        <li><a href="#">Delete User</a></li>
        <li><a href="#">View User</a></li>
      </ul>
    </li>
    </ul>
  </div>
</nav>
