<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<section id="portfolio">
    <div class="container">
        <h2 class="text-center">Menu</h2>
        <hr class="star-primary">
        <div class="row">
            <div th:replace="/fragments/menu_item :: menu_item('personal_data_modal', '/img/portfolio/cabin.png')"></div>
            <div th:replace="/fragments/menu_item :: menu_item('auth_data_modal', '/img/portfolio/cake.png')"></div>
            <!--
            <div th:replace="/fragments/menu_item :: menu_item('portfolioModal3', '/img/portfolio/circus.png')"></div>
            <div th:replace="/fragments/menu_item :: menu_item('portfolioModal4', '/img/portfolio/game.png')"></div>
            <div th:replace="/fragments/menu_item :: menu_item('portfolioModal5', '/img/portfolio/safe.png')"></div>
            <div th:replace="/fragments/menu_item :: menu_item('portfolioModal6', '/img/portfolio/submarine.png')"></div>
            !-->
           </div>
        </div>
    </div>
</section>
</html>