<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<section id="portfolio">
    <div class="container">
        <h2 class="text-center">Menu</h2>
        <hr class="star-primary">
        <div class="row">
           <div th:replace="/fragments/menu_item :: menu_item('#portfolioModal1', '/img/portfolio/cabin.png')">
           <div th:replace="/fragments/menu_item :: menu_item('#portfolioModal2', '/img/portfolio/cake.png')">
           <div th:replace="/fragments/menu_item :: menu_item('#portfolioModal3', '/img/portfolio/circus.png')">
           <div th:replace="/fragments/menu_item :: menu_item('#portfolioModal4', '/img/portfolio/game.png')">
           <div th:replace="/fragments/menu_item :: menu_item('#portfolioModal5', '/img/portfolio/safe.png')">
           <div th:replace="/fragments/menu_item :: menu_item('#portfolioModal6', '/img/portfolio/submarine.png')">
           </div>
        </div>
    </div>
</section>
</html>